[submodule "third_party/libplist"]
	path = third_party/libplist
	url = https://github.com/libimobiledevice/libplist.git
[submodule "third_party/UxPlay"]
	path = third_party/UxPlay
	url = https://github.com/FDH2/UxPlay.git
[submodule "third_party/alac"]
	path = third_party/alac
	url = https://github.com/macosforge/alac.git
[submodule "third_party/openssl"]
	path = third_party/openssl
	url = https://github.com/openssl/openssl.git
	shallow = true
